body {
  margin: 0;
  font-family:font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: white;
}

code {
  font-family:font;
}

@font-face {
  font-family:font ;
  src: url('./Componenets/Asset/Fonts/Raleway-Regular.ttf');
}

*{
  font-family: font;
}